sudo: false

language: python
python:
  - 3.4
  - 3.5
  - 3.6

.disable_global: &disable_global
  addons: false
  cache: pip
  before_install: false
  install: false
  before_script: false
  script: false
  after_success: false
  after_failure: false
  before_deploy: false
  deploy: false

stages:
  - name: sentinel
    if: branch != master OR type = pull_request
  - test
  - moban
  - name: unsupported
    if: branch = master AND type = push

.check_moban: &check_moban
  <<: *disable_global
  python: 3.6
  stage: moban
  install: pip install moban
  script: .ci/check_moban.sh
  if: branch != master OR type = pull_request

jobs:
  include:
    - stage: sentinel
      # All other jobs will be cancelled if the sentinel job fails
      <<: *disable_global
      python: 3.6
      install: pip install -r requirements.txt ".[alldeps]"
      script: coala --non-interactive -V

    - python: 2.7
      stage: unsupported
      env: PIP_NO_COMPILE=1
      addons: false
      before_install: true
      install: pip install 3to2
      before_script: true
      script: .ci/check_unsupported.sh
    - python: 3.3
      stage: unsupported
      env: PIP_NO_COMPILE=1
      addons: false
      before_install: true
      install: true
      before_script: true
      script: .ci/check_unsupported.sh
    - python: 3.6
      stage: moban
      addons: false
      cache: pip
      before_install: false
      install: pip install moban
      before_script: false
      script: .ci/check_moban.sh
      after_success: false
      after_failure: false
      if: branch = master AND type = push
    - *check_moban
  allow_failures:
    - *check_moban

dist: trusty

.apt_sources: &apt_sources
  - ubuntu-toolchain-r-test
  - avsm  # OPAM stable
  - hvr-ghc  # Haskell
  - sourceline:  # R
      deb https://cloud.r-project.org/bin/linux/ubuntu trusty-cran35/
    key_url:
      https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x51716619E084DAB9
  - sourceline:  # Julia
      deb http://ppa.launchpad.net/staticfloat/juliareleases/ubuntu trusty main
    key_url:
      https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xCF979FFA3D3D3ACC
  - sourceline:  # Go
      deb http://ppa.launchpad.net/ondrej/golang/ubuntu trusty main
    key_url:
      https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x4F4EA0AAE5267A6C
  - sourceline:  # astyle
      deb http://ppa.launchpad.net/cs50/ppa/ubuntu trusty main
    key_url:
      https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x5BDA2E974A0E822C

addons:
  apt:
    sources: *apt_sources
    packages:
      - aspcud
      - astyle
      - cabal-install-1.24
      - chktex
      - clang-3.4
      - cppcheck
      - devscripts
      - flawfinder
      - gfortran
      - ghc
      - golang-go
      - happy
      - indent
      - julia
      - libarpack2
      - libblas-dev
      - libcolamd2.8.0
      - libfftw3-3
      - liblapack-dev
      - libopenblas-base
      - libpaper-utils
      - libperl-critic-perl
      - libumfpack5.6.2
      - libxml2-utils
      - luarocks
      - mercurial
      - menhir
      - mono-mcs
      - ocaml
      - opam
      - php-codesniffer
      - r-base
      - verilator

cache:
  pip: true
  directories:
    - docs/_build
    # Installed language package caches
    - ~/.cabal
    - ~/.ghc
    - ~/.ghc-mod
    - ~/R/Library
    - ~/.julia
    - ~/.luarocks
    - $TRAVIS_BUILD_DIR/node_modules
    - $TRAVIS_BUILD_DIR/.bundle
    - $TRAVIS_BUILD_DIR/vendor
    # coala managed data
    - ~/nltk_data
    # Installed linters
    - ~/infer-linux64-v$INFER_VERSION
    - ~/.local/

env:
  global:
    - TERM=dumb
    - CIRCLE_NODE_INDEX=-1  # Avoid accidentially being a CircleCI worker
    - R_LIB_USER=~/R/Library
    - LINTR_COMMENT_BOT=false
    - CABAL_VERSION=1.24
    - INFER_VERSION=0.7.0
    - PATH="$HOME/.local/bin:/opt/cabal/$CABAL_VERSION/bin:$PATH:$TRAVIS_BUILD_DIR/node_modules/.bin:$TRAVIS_BUILD_DIR/vendor/bin:$HOME/.cabal/bin:$HOME/infer-linux64-v$INFER_VERSION/infer/bin:$HOME/.local/tailor/tailor-latest/bin:$HOME/.luarocks/bin"

before_install:
  - nvm install 6.10.2
  # Remove Ruby directive from Gemfile as this image has 2.2.5
  - sed -i '/^ruby/d' Gemfile
  - if [[ "$UNSUPPORTED" != true ]]; then bash .ci/deps.sh; fi
  - if [[ "$UNSUPPORTED" != true ]]; then bash .ci/deps.go.sh; fi
  - if [[ "$UNSUPPORTED" != true ]]; then bash .ci/deps.cabal.sh; fi
  - if [[ "$UNSUPPORTED" != true ]]; then bash .ci/deps.r.sh; fi
  - if [[ "$UNSUPPORTED" != true ]]; then bash .ci/deps.opam.sh; fi
  - if [[ "$UNSUPPORTED" != true ]]; then bash .ci/deps.java.sh; fi
  # https://github.com/coala/coala/issues/3183
  - cp requirements.txt requirements.orig
  - printf '%s\n%s\n%s\n'
           "$(cat test-requirements.txt)"
           "$(grep -v '^-r' docs-requirements.txt)"
           "$(cat bear-requirements.txt requirements.txt)"
           > requirements.txt

before_script:
  - mv requirements.orig requirements.txt
  - .ci/deps.coala-bears.sh

script:
  - python setup.py bdist_wheel
  - pip install $(ls ./dist/*.whl)"[alldeps]"
  - bash .ci/tests.sh
  # Ensure bear requirements are in sync with the bear PipRequirement
  - .ci/generate_bear_requirements.py --check --update
  - git diff --exit-code
  - coala --non-interactive
  - codecov
  - python setup.py docs

notifications:
  email: false

branches:
  exclude:
    - /^sils\//
