apertium-lint~=0.29
autoflake~=0.6.6
autopep8~=1.2
bandit~=1.2
click==6.6
cmakelint~=1.3
cppclean~=0.12.0
cpplint~=1.3
dennis~=0.8
eradicate~=0.1.6
guess-language-spirit~=0.5.2
html-linter~=0.3.0
isort~=4.2
language-check~=1.0
lxml==3.6.0
memento_client~=0.5.3
munkres3~=1.0
mypy-lang~=0.4.6
nbformat~=4.1
nltk~=3.2
proselint~=0.7.0
pycodestyle~=2.2
pydocstyle~=2.0
pyflakes~=1.4.0
pylint~=1.6
pyroma~=2.2.0
pyyaml~=3.12
radon==1.4.0
restructuredtext-lint~=1.0.0
rstcheck~=3.1
safety~=0.5.1
scspell3k~=2.0
vim-vint~=0.3.12
vulture~=0.14.0
yamllint~=1.6.1
yapf~=0.14.0
