# NOTE: This file is parsed by .ci/generate_bear_requirements.py
# Use >= for development versions so that source builds always work
coala>=0.12.0.dev20170604215434
# Dependencies inherited from coala
# libclang-py3
# coala_utils
# dependency_management
# requests
-r bear-requirements.txt
