# NOTE: This file is parsed by .ci/generate_bear_requirements.py
# Use >= for development versions so that source builds always work
git+git://github.com/coala/coala@Makman2/LINTER-DEBUG#egg=coala
# Dependencies inherited from coala
# libclang-py3
# coala_utils
# dependency_management
# requests
-r bear-requirements.txt
