# Use >= for development versions so that source builds always work
coala>=0.10.0.dev20170113094654
# Dependencies inherited from coala
# libclang-py3
# coala_utils
# dependency_management
-r bear-requirements.txt
