source 'https://rubygems.org'
ruby '2.2.2'
{% for gem in gems %}
{%- if gem.version != '' and gem.required != '' %}
gem "{{ gem.name + '", "' + gem.version + '", require: false' }}
{%-  elif gem.version == '' and gem.required == '' %}
gem "{{ gem.name + '"' }}
{%-  elif gem.version != '' and gem.required == '' %}
gem "{{ gem.name + '", "' + gem.version + '"' }}
{%- else %}
gem "{{ gem.name + '", require: false' }}
{%- endif %}
{%- endfor %}
